@charset "UTF-8";

@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Hahmlet-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Hahmlet-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.rent_step li.step2:before{
	display: none;
}
.rent_step li.step1:after{
	display: none;
}
.rent_step li.step2:after{
	content: '';
    position: absolute;
    top: 18px;
    width: 90px;
    height: 3px;
    right: 0;
    background-color: #009ce1;
}
.rent_step li.step3:before{
	content: '';
    position: absolute;
    top: 18px;
    width: 90px;
    height: 3px;
    background-color: #009ce1;
}

.step_txt3{
	display: block;
    position: relative;
    padding-top: 50px;
    font-size: 24px;
    font-weight: 500;
	color: #999; 
    line-height: 1;
    text-align: center;
    padding-bottom: 30px;
    background: url(../image/riding-line.png)no-repeat top;
}
