 @font-face {
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-family: 'TheJamsil5Bold';
    font-weight: 700;
    font-style: normal;
}
@font-face {
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-family: 'NanumSquareNeo-Variable';
    font-weight: normal;
    font-style: normal;
}
@font-face {
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Hahmlet-Regular.woff2') format('woff2');
    font-family: 'Hahmlet-Regular';
    font-weight: normal;
    font-style: normal;
}

*{	
    font-family: 'Hahmlet-Regular';
    font-weight: normal;
    font-style: normal;
}

section{
	width: 100%;
	height: auto;
	min-height : 790px; 
}
section > div{
	width: 990px;
	margin: 0 auto;
	background-color: #f0f0f0;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}


#sb_art_no1{
	margin-top: 40px;
	background-color: white;
}

.timer {
	color : red;
}

.m_ri_30{
	margin-right: 30px;
}

.p_left_30{
	padding-left: 30px;
}

table{
	border-collapse: collapse;
}

td{
	height: 100px;
}

.f_bold{
	font-size:20px;
	font-weight: bold;
}
#sb_art_no1 > div{
	width: 100%;
	height: 120px;
}


#sb_art_no1 .no1_left{
	padding: 15px 0 0 15px;
	width: 470px;
	height: 100%;
	float:left;
	font-size: 35px;
    font-family: 'TheJamsil5Bold';
    font-weight: 700;
    font-style: normal;
}


#sb_art_no1 .no1_left > img{
	width: 35px;
	height: 25px;
}



#sb_art_no1 .no1_right{
	width: 470px;
	height: 100%;
	float:right;
	font-size: 19px;
	line-height: 55px;
	text-align: right;
	margin-right: 30px;
    font-family: 'NanumSquareNeo-Variable';
    font-weight: normal;
    font-style: normal;
}
#sb_art_no1 .no1_right > span{
	color: blue;
	height: 100%;
	vertical-align: middle;
	font-size: 19px;
    font-family: 'TheJamsil5Bold';
    font-weight: 700;
    font-style: normal;
}


#sb_art_no2{
	clear:both;
	width: 100%;
	height: 60px;
}


#sb_art_no2 >div > .no2_left{
	float: left;
	width: 50%;
	height: 60px;
	text-align: center;
	font-size: 23px;
    font-family: 'TheJamsil5Bold';
    font-weight: 700;
    font-style: normal;
	border-top: 2px solid gray;
	border-left: 2px solid gray;
	border-right: 2px solid gray;
	line-height: 55px;
}


#sb_art_no2 >div > .no2_right{
	float: right;
	width: 50%;
	height: 60px;
	background-color: white;
	border-bottom: 2px solid gray;
}


#sb_art_no3{
	clear:both;
	padding: 10px;
	background-color: white;
}

#sb_art_no3 .no3_td_d1{
	width: 470px;
	float: left;
}

#sb_art_no3 .no3_td_d3 > div:first-child{
	width: 140px;
	float: left;
	padding-right: 30px;
	text-align: right;
}
#sb_art_no3 .no3_td_d3 > div{
	width: 300px;
	float: left;
}
#sb_art_no3 .no3_td_d3 > select{
	width: 100px;
	float: right;
}

#sb_art_no3 .td_cen{
	text-align: center;
}

#sb_art_no3 table img{
	width: 70px;
	height: 70px;	
}


#sb_art_no3 table th{
	height: 40px;
	border-bottom: 3px double gray;
    font-family: 'NanumSquareNeo-Variable';
    font-weight: normal;
    font-style: normal;
    font-size: 19px;
}


#sb_art_no4{
	background-color:white;
	height: 50px;
	padding: 0 80px;
}

#sb_art_no4 > div{
	display: flex;
	justify-content: flex-start;
	line-height: 35px;
}

#sb_art_no4 input[name='no4_del']{
    padding: 5px 6px;
    border: 3px solid #ccc;
    text-align: center;
    font-size: 12px;
    height: 35px;
    color: #111;
    background-color: white;
    margin-top: 7px;
    margin-left: 10px;
}


#sb_art_no4 input[name='no4_del']:hover{
	background-color: #f0f0f0;
}

#sb_art_no5 > div{
	clear: both;
	width: 980px;
    border: 15px solid white;
    text-align: center;
    background-color: #e9e9e9;
    height: 95px;
    margin: 15px auto;
}

#sb_art_no5 > div > div{
	width: 550px;
	margin: 0 auto;
	height: 70px;
	font-size: 17px;
	line-height: 65px;
}

#sb_art_no5 .r_b_color{
	color: red;
	font-size: 21px;	
}

#sb_art_no5 .no5_flex{
	display: flex;
	justify-content: space-around;
}


#sb_art_no6{
	margin-bottom: 40px;
}

#sb_art_no6 > div{
	height: 100px;
	display: flex;
	justify-content: center;
	margin-top: 80px;
}

#sb_art_no6 input{
	font-size: 22px;
    font-weight: 700;
    display: inline-block;
    position: relative;
    width: 175px;
    background-color: #0073e9;
    color: white;
    border: 2px solid #0073e9;
    border-radius: 4px;
    text-align: center;
    height: 50px;
    margin: 0 30px;
    font-family: 'NanumSquareNeo-Variable';
    font-style: normal;
}

#sb_art_no6 input:hover{
    background-color:white;
    color: #0073e9;
}