 @font-face {
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-family: 'TheJamsil5Bold';
    font-weight: 700;
    font-style: normal;
}
@font-face {
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-family: 'NanumSquareNeo-Variable';
    font-weight: normal;
    font-style: normal;
}
@font-face {
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Hahmlet-Regular.woff2') format('woff2');
    font-family: 'Hahmlet-Regular';
    font-weight: normal;
    font-style: normal;
}

section{
	width: 100%;
	min-height : 1340px; 
}

article{
	width: 890px;
	height: auto;
	margin: 0 auto;
}

table{
	border-collapse: collapse;
	width: 670px;
	margin: 0 auto;
}

#pd_detail_no0{
	width: 1260px;
	padding-right: 285px;
	padding-top: 5px;
    height: 80px;
}

#pd_detail_no0 > .prdC{
    font-size : 10px;
	font-family: 'NanumSquareNeo-Variable';
    font-weight: normal;
    font-style: normal;
}
#pd_detail_no0 > .prdN{
    font-family: 'TheJamsil5Bold';
    font-weight: 700;
    font-style: normal;
    font-size : 50px;
    text-align: right
}
#pd_detail_no0 a{
	cursor: pointer;
}
#pd_detail_no0 > div> .f_blue{
	color : blue;
	font-size: 13px;
}


.sue_label{
    background-color: steelblue;
    width: 240px;
    height: 58px;
    border: 1px solid steelblue;
    float: right;
    border-radius: 12px 12px 0 0;
    text-align: center;
    color: skyblue;
    font-size: 35px;
    padding-top: 15px;
}
.uni_label{
    background-color: orange;
    width: 240px;
    height: 58px;
    border: 1px solid orange;
    float: right;
    border-radius: 12px 12px 0 0;
    text-align: center;
    color: wheat;
    font-size: 35px;
    padding-top: 15px;
	margin-top: 17px;
}
.ball_label{
    background-color: hotpink;
    width: 240px;
    height: 58px;
    border: 1px solid hotpink;
    float: right;
    border-radius: 12px 12px 0 0;
    text-align: center;
    color: pink;
    font-size: 35px;
    padding-top: 15px;
	
}
.etc_label{
	background-color: green;
    width: 240px;
    height: 58px;
    border: 1px solid green;
    float: right;
    border-radius: 12px 12px 0 0;
    text-align: center;
    color: yellowgreen;
    font-size: 35px;
    padding-top: 15px;
}



/* 제품소개(필수) 사진 */
#pd_detail_no1{
	width: 890px;
	height: 491px;
}

#pd_detail_no1 > .no1_img_info1	{
    width: 710px;
    height: 491px;
    margin: 0 auto;
    border-left: 1px solid;
    border-right: 1px solid;
    border-top: 1px solid;
    border-radius: 12px 12px 0 0;
}

.b_img{
	display: inline-block;
	max-width: 280px;
	max-height: 280px;
}

#pd_detail_no1 > .no1_img_info1  table td{
    height: 70px;
}

.f_table_label{
/* 	background-color: #C1E1EE; */
/* 	background-color: #AED6F1; */
/* 	background-color: #ADD5F7; */
	background-color: #87CEFA;
    font-family: 'NanumSquareNeo-Variable';
    font-weight: normal;
    font-style: normal;
    text-align: center;
    font-size: 13px;
}
.f_table_field{
	padding-left: 15px;
    font-family: 'NanumSquareNeo-Variable';
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
}
.f_table_field1{ /*상품이미지*/
	padding-left: 15px;
	text-align: center;
}

.textA_table_field{
	padding-top: 5px;
	width: 99%;
	min-height: 155px;
	outline: none;
    border: none;
    resize: none;
    font-family: 'NanumSquareNeo-Variable';
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
}


/* 제품소개(상세)*/
#pd_detail_no6{
	width: 840px;
	height: 440px;
    padding-bottom: 10px;
}
#pd_detail_no6 > .center_only{
    width: 710px;
    height: 580px;
    margin: 0 auto;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-radius: 0 0 12px 12px;
}


#pd_detail_no6 table{
	width: 708px;
	margin: 0 auto;
}
#pd_detail_no6 td{
	height: 70px;
}


#pd_detail_no6 tr:last-child td:first-child {
    border-radius: 0 0 0 12px;
}


#pd_detail_no6 tr:last-child td:last-child textarea{
    border-radius: 0 0 12px 0;
}

/* 상세보기 / 리뷰보기 */
#pd_detail_no7{
	width: 840px;
}
.flex{
	display: flex;
	justify-content: center; 
}

.text_right{
	text-align: right;
}
.text_left{
	text-align: left;
}
.black:hover{
	cursor: pointer;
}

#pd_detail_no7 > .flex > input{
	padding: 0 40px;
	width: 400px;
	height: 40px;
	border-top: none;
	border-left: none;
	border-right: none;
	font-family: gothic;
	font-size: 20px;
	font-weight: bold;
}

#pd_detail_no7 > .flex > input:first-child{
	background-color: #979797;
	color: white;
	border-radius: 12px 0 0 12px;
}
#pd_detail_no7 > .flex > input:last-child{
	background-color: #979797;
	color: white;
	border-radius: 0 12px 12px 0;
}
#pd_detail_no7 > .flex > input:hover{
	background-color: #000000;
	color: white;
}


/*수정/삭제/장바구니/구매*/

#pd_detail_no3{
	width: 890px;
	height: 60px;
	margin-top: 200px;
	margin-bottom: 30px;
}

#pd_detail_no3 > div{
	width: 580px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.r_d_b_b{
	width: 165px;
	height: 55px;
	background-color: #007bff; /* 진한 파랑색 */
	color: #ffffff; /* 흰색 글씨 */
	border: none; /* 테두리 없음 */
	padding: 10px 20px; /* 내부 여백 */
	border-radius: 5px; /* 모서리 둥글게 */
	cursor: pointer; /* 커서 손가락 모양으로 */
    font-family: 'NanumSquareNeo-Variable';
    font-weight: normal;
    font-style: normal;
    font-size: 23px;
}

/*목록*/
.list_b{
	width: 165px;
	height: 55px;
	color: #ffffff; /* 흰색 글씨 */
	border: none; /* 테두리 없음 */
	padding: 10px 20px; /* 내부 여백 */
	border-radius: 5px; /* 모서리 둥글게 */
	cursor: pointer; /* 커서 손가락 모양으로 */
	background-color: #964b00; /* 갈색 */
    font-family: 'NanumSquareNeo-Variable';
    font-weight: normal;
    font-style: normal;
    font-size: 23px;
}



/* 댓글리뷰 */
#pd_detail_no4{
	width: 890px;
	height: 415px;
	min-height: 100px;
	margin-bottom: 70px;
}

#pd_detail_no4 > .center_only{
    width: 710px;
    height: 365px;
    margin: 0 auto;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-radius: 0 0 12px 12px;
}


#pd_detail_no4 td{
    font-family: 'NanumSquareNeo-Variable';
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
    text-align: center;
    height: 45px;
}
.re_conten{
    font-family: 'Hahmlet-Regular';
    font-weight: normal;
    font-style: normal;
    font-size:17px;
}

.h40{
	vertical-align: top;
    padding-top: 10px;
}

.del_bt_hide{
	display: none;
}

/* 댓글작성 */
#pd_detail_no5{
	height: 125px;
	position: relative;
}
#pd_detail_no5 >div> div:first-child > p{
	width: 60px;
	display: inline-block;
	margin-left: 30px;
}
#pd_detail_no5 > div > div:first-child > input[type=text]{
	width: 340px;
	height: 25px;
	margin-right: 90px;
	outline: none;
	border: none;
}

#pd_detail_no5 > div > div:first-child > input[type=number]{
	width: 140px;
	height: 25px;
	border: none;
}

.h50{
	height: 40px;
}

#pd_detail_no5 >div > div:last-child > p{
	width: 60px;
	margin-left: 30px;
}
#pd_detail_no5 > div > div:last-child > textarea{
	width: 672px;
	height: 60px;
	resize: none;
	margin-left: 95px;
	margin-top: -20px;
}

#pd_detail_no5 > div > div:last-child > input[type=submit]{
	width: 85px;
	height: 60px;
	position: absolute;
	right: 0px;
	bottom: 15px;
	color: #ffffff; /* 흰색 글씨 */
	border: none; /* 테두리 없음 */
	padding: 10px 20px; /* 내부 여백 */
	border-radius: 5px; /* 모서리 둥글게 */
	cursor: pointer; /* 커서 손가락 모양으로 */
	background-color: #964b00; /* 갈색 */
    font-family: 'NanumSquareNeo-Variable';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
}

.sel_sc{
	border: none;
	outline: none;
	width: 140px;
	height: 25px;
}

.del_check{
	background-color: #007bff; /* 진한 파랑색 */
	color: #ffffff; /* 흰색 글씨 */
	border: none; /* 테두리 없음 */
	padding: 10px 20px; /* 내부 여백 */
	border-radius: 5px; /* 모서리 둥글게 */
	cursor: pointer; /* 커서 손가락 모양으로 */
    font-family: 'NanumSquareNeo-Variable';
    font-weight: normal;
    font-style: normal;
    font-size: 10px;
}
