@charset "UTF-8";
 @font-face {
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-family: 'TheJamsil5Bold';
    font-weight: 700;
    font-style: normal;
}
@font-face {
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-family: 'NanumSquareNeo-Variable';
    font-weight: normal;
    font-style: normal;
}
@font-face {
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Hahmlet-Regular.woff2') format('woff2');
    font-family: 'Hahmlet-Regular';
    font-weight: normal;
    font-style: normal;
}
*{	
    font-family: 'Hahmlet-Regular';
    font-weight: normal;
    font-style: normal;
}

section{
	width:100%;
	height: auto;
	min-height: 900px;
}

/* 마이페이지 타이틀라벨 */
#article_no0{
	width: 990px;
	margin: 0 auto;
}

#article_no0> h1{
    font-family: 'TheJamsil5Bold';
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
}

#center_margin{
	width: 1280px;
	height: auto;
	margin: 0 auto;
}

/* 라벨(MyKreble) */
#article_no1{
	width: 990px;
	margin: 0 auto;
}
#article_no1 > div{
	margin-top: 35px;
	height: 130px;
}
table{
	border-collapse: collapse;
}

#article_no1 table th{
	vertical-align: bottom;
	height: 30px;
}

td{
	width: 160px;
	height: 30px;
	text-align: center;
    font-family: 'Hahmlet-Regular';
    font-weight: normal;
    font-style: normal;
}

#article_no1 .no1_td1{
    font-family: 'TheJamsil5Bold';
    font-weight: 700;
    font-style: normal;
    background-color: #13294B;
  	color: #fff;
}

#article_no1 td > input[type=button]{
    font-family: 'TheJamsil5Bold';
    font-weight: 700;
    font-style: normal;
    width: 100%;
    height: 100%;
    background-color: #5DADEC;
  	color: #fff;
  	border: none;
  	outline: none;
}


#article_no1 .no1_td3, #article_no1 .no1_td5{
    font-family: 'TheJamsil5Bold';
    font-weight: 700;
    font-style: normal;
	background-color: #094e73;
	color: #fff;
}

#article_no1 .no1_td2, #article_no1 .no1_td4, #article_no1 .no1_td6{
    font-family: 'TheJamsil5Bold';
    font-weight: 700;
    font-style: normal;
	background-color: #5DADEC;
	color: #fff;
}


/* 프로필사진 / 닉네임 / 마이스쿼드 */
#article_no2{
	width: 990px;
	height: 630px;
	margin: 0 auto;
}

#article_no2 > .f_div{
	width: 495px;
	height: 580px;
	float: left;
}

#article_no2 > .l_div{
	width: 495px;
	height: 580px;
	float: left;
}

/* 베스트스쿼드 */
.commu_wrap.wrap1 {
	clear:both;
	width:460px;
}
#article_no2 h4 {
	display:block;
	height:40px;
	line-height:40px;
	font-size:28px;
	background-color:#ddd;
	border-top:2px solid gray;
	border-bottom:1px solid gray;
	text-align:center;
    font-family: 'TheJamsil5Bold';
}
.commu_wrap.wrap1 .squad_wrap {
	background-color:#fff;
	width:100%;
	padding:20px 25px;
}
.commu_wrap.wrap1 .squad_wrap .squad_name {
	float:left;
	height:35px;
	margin-bottom:10px;
	font-size:19px;
	line-height:35px;
	padding-left:20px;
    font-family: 'NanumSquareNeo-Variable';
}
.commu_wrap.wrap1 .squad_wrap .squad_make {
	float:right;
	height:35px;
	margin-bottom:10px;
	font-size:19px;
	line-height:35px;
	padding-right:20px;
    font-family: 'NanumSquareNeo-Variable';
}
.commu_wrap.wrap1 .squad_wrap ul {
	clear:both;
}
.commu_wrap.wrap1 .squad_wrap ul li {
	float:left;
	width:100px;
	height:150px;
	padding:10px 0;
	text-align:center;
}
.commu_wrap.wrap1 .squad_wrap ul li .player_img {
	display:block;
	width:80px;
	height:100px;
	margin:0 10px 5px;
	border-radius:50%;
	overflow:hidden;
	background-color:#888;
}
.commu_wrap.wrap1 .squad_wrap ul li .player_img img{
	width:80px;
}
.commu_wrap.wrap1 .squad_wrap ul li:first-child .player_img img{
	width:100%;
	height:100%;
	object-fit:cover;
}
.commu_wrap.wrap1 .squad_wrap ul li .name {
    font-family: 'Hahmlet-Regular';
}

#article_no3{
	width: 990px;
	height: 400px;
	margin: 0 auto;
}


#article_no3 > div > h4{
	display:block;
	height:40px;
	line-height:40px;
	font-size:28px;
	background-color:#ddd;
	border-top:2px solid gray;
	border-bottom:1px solid gray;
	text-align:center;
    font-family: 'TheJamsil5Bold';
}

#article_no4{
	width: 990px;
	height: 420px;
	margin: 0 auto;
}

#article_no4 h4{
	display:block;
	height:40px;
	line-height:40px;
	font-size:28px;
	background-color:#ddd;
	border-top:2px solid gray;
	border-bottom:1px solid gray;
	text-align:center;
    font-family: 'TheJamsil5Bold';
}

#article_no4 img{
	height: 100px;
}

#article_no4 table th{
	font-size: 22px;
	height: 50px;
    font-family: 'NanumSquareNeo-Variable';
    font-weight: normal;
    font-style: normal;
}

#article_no5{
	width: 990px;
	height: 420px;
	margin: 0 auto;
}

#article_no5 h4{
	display:block;
	height:40px;
	line-height:40px;
	font-size:28px;
	background-color:#ddd;
	border-top:2px solid gray;
	border-bottom:1px solid gray;
	text-align:center;
    font-family: 'TheJamsil5Bold';
}

#article_no5 img{
	height: 100px;
}

#article_no5 table th{
	font-size: 22px;
	height: 50px;
    font-family: 'NanumSquareNeo-Variable';
    font-weight: normal;
    font-style: normal;
}

.center_only{
	width: 960px;
	margin: 0 auto;
}

#article_no6{
	width: 990px;
	height: 100px;
	margin: 0 auto;
}
